@media screen and (min-width: 480px) {

  /***********************************
  TWO COLUMN LAYOUT
  ***********************************/
  #primary {
    width: 50%;
    float: left;

  }

  #secondary {
    width: 40%;
    float: right;
  }

  #primary_about {
    width: 5%;
    float: left;

  }

  #secondary_about {
    width: 75%;
    float: right;
  }

  #welcome_pink {
    width: 30%;
    float: left;
  }


  #welcome_logo {
    width: 50%;
    float: right;

  }

  /***********************************
  PAGE: WELCOME
  ***********************************/

  #gallery li {
  /*width: 28.33333%;*/
  width: 40%;
  }

  #gallery li:nth-child(4n) {
  clear: left;
  }


  /***********************************
  PAGE: ABOUT
  ***********************************/

  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }


}

@media screen and (min-width: 660px) {

  /***********************************
  HEADER
  ***********************************/

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
    margin-left: 2px;
    letter-spacing: 0.25em;
    font-weight: 500;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-left: 2px;
    /*letter-spacing: 0.25em;*/
    font-weight: 500;
  }

  header {
    border-bottom: 4.5px solid #eaeaea;
    background-image: url(../img/paper_texture.jpg);
    margin-bottom: 60px;
    background-size: 1200px;
  }


}
